<div class="page-subnav">
    <div class="page-subnav-inner">
        <a href="#about" class="subnav-link active">Featured (Who We Are)</a>
        <a href="#process-overview" class="subnav-link">Process Overview</a>
        <a href="#capability" class="subnav-link">Capability</a>
        <a href="#achievements" class="subnav-link">Achievements</a>
        <a href="#testimonials-section" class="subnav-link">Testimonials</a>
        <a href="#contact" class="subnav-link">Contact</a>
    </div>
</div>